:root {
  --fifyThu-color: #efd05f;
  --tenThu-color: #77b168;
  --fiveThu-color: #ffd0b5;
  --thu-color: #a8c0cb;
  --mili-color: #b0ada6;
  --ten-color: #e5ac43;
  --one-color: #dbdad6;
  --midle-size: 20px;
  --large-size: 40px;
  --output-size: 30px;
  --coin-size: 50px;
}
* {
  background-color: #fffff0;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  text-align: center;
}
.cotainer {
  margin: 0 auto;
  width: 100%;
}
.title {
  font-size: var(--large-size);
  padding: 20px 0px;
}
input {
  font-size: var(--midle-size);
  height: 50px;
  width: 60%;
  margin: 0 auto;
  margin-bottom: var(--midle-size);
}
input::placeholder {
  font-size: var(--midle-size);
}
.moneyBox {
  padding: 8px 12px;
  height: auto;
  width: 40%;
  margin: var(--midle-size) auto;
  font-size: var(--output-size);
}

#output {
  text-align: center;
}

#index0 {
  background-color: var(--fifyThu-color);
}
#index1 {
  background-color: var(--tenThu-color);
}
#index2 {
  background-color: var(--fiveThu-color);
}
#index3 {
  background-color: var(--thu-color);
}
#index4,
#index5,
#index6 {
  background-color: var(--mili-color);
  border-radius: var(--coin-size);
}
#index7 {
  background-color: var(--ten-color);
  border-radius: var(--coin-size);
}
#index8 {
  background-color: var(--one-color);
  border-radius: var(--coin-size);
}
